/* 전체적용 */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none; 
}
textarea{
	resize: none
}
.pointer:hover{
	cursor: pointer;
}
.center{
	text-align: center;
}
/* 폰트 */
@font-face {
	font-family: 'EASTARJET-Medium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
  }
  
body, html, a, button, table, input, select, textarea {
	font-family:EASTARJET-Medium;
}

/* 헤더 */
.header{
	width: 100%;
    background-color: #00000000;
    padding: 35px 20px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    position: fixed;
	border-bottom: solid 1px #000000;
    top: 0px;
    z-index: 99;
}
.header_head{
    display: flex;
    width: 90%;
}

.header_logo{
	min-width: 140px;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
}

.header_menu{
	display: flex;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
}

.header_foot{
    min-width: 150px;
    display: flex;
    justify-content: flex-end;
}

.header_foot div, .header_foot a{
	text-decoration: none;
    padding: 8px;
    color: #000;
    font-weight: 600;
}

/* 헤더 */
.header_username{
	text-decoration: none;
	color:#000;
}


/* 메인 */
.main {
	font-size: 4rem;
}
/* 메인 첫번째 */
.main_1 {
	height: 100vh;  
	width: 100%;  
	position: relative;
	background-image: url(/img/main_bg_1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100vh;
  }
  .main_sl {
	height: 100vh;  
	width: 100%;  
  }
  .main_1_box {
	width: 100%;
  }
  .main_txt {
	float: left;
	margin: 0 100px;
	padding: 290px 0 0;
	color: #fff;
	font-weight: 600;
	line-height: 4.5rem;
  }
  .main_txt_up {
	/* font-size: 3rem; */
	color: #f2cc0f;
  }
  .main_txt_down {
	font-size: 3.5rem;
  }
  .main_wea {
	display: block;
	height: 160px;
	width: 160px;
	margin: 200px 50px;
	/* float: right; */
	position: fixed;
	right: 0;
	z-index: 10;
  }
  .main_wea_up {
	height: 50px;  
	width: 160px; 
	text-align: center;
	background-color: rgba(92, 98, 102, 0.6);
	border-radius: 20px 20px 0px 0px;
	font-size: 24px;
	height: 36px;
	padding: 0 11px;
	margin: 0 0 1px;
  }
  .main_wea_down {
	height: 100px;  
	width: 160px; 
	text-align: center;
	background-color: rgba(92, 98, 102, 0.6);
	border-radius: 0px 0px 20px 20px;
	font-size: 24px;
  }
  
  
  /* 반응형 */
  /* @media screen and (max-width: 740px) {
	* { 
	  font-size:22px
	}
  } */
  
  /* 메인 두번째 */
  .main_2 {
	height: 100vh;  
	width: 100%;  
	background-color: #fff;
	display: flex;
	position: relative;
  }
  .main_2_box_left {
	display: flex;
	position: relative;
	flex-direction: column;
	z-index: 1;
  }
  .main_2_box {
	width: 40%;
	height: 100vh;
	padding: 110px 0 0 100px;
	/* position: relative; */
  }
  /* .main_2_box_txt {
	margin: 0 0 1rem;
	font-size: 1rem;
	display: inline-block;
  } */
  .main_2_sub_tit {
	margin: 0 0 1rem;
	font-size: 1rem;
	display: inline-block;
  }
  .main_2_sub_line {
	content: "";
	display: inline-block;
	margin-left: 0.8rem;
	margin-top: 1.3rem;
	width: 8rem;
	height: 1px;
	background-color: #222;
	vertical-align: middle;
  }
  /* .main_2_line {
	content: "";
	display: inline-block;
	margin-left: 0.8rem;
	width: 5rem;
	height: 1px;
	background-color: #222;
	vertical-align: middle;
  } */
  /* .main_2_txt {
	display: block;
	font-size: 2.5rem;
	font-weight: 500;
	z-index: 2;
	position: absolute;
  } */
  .main_2_sub_txt {
	display: block;
	font-weight: 500;
	width: 600px;
  }
  /* .main_2_y {
	width: 8rem;
	height: 8rem;
	position: absolute;
	top: 255px;
	left: 50px;
  } */
  .main_2_sub_y {
	width: 11rem;
	height: 11rem;
	position: absolute;
    top: 225px;
    left: 77px;
	z-index: 0;
  }
  .main_shap {
	top: 400px;
	font-size: 2rem;
  }
  .main_2_news {

	background-color: #222;

  }
  /* 메인 세번째 */
  .main_3 {
	height: 100vh;  
	width: 100%;  
	background-color: rgba(128, 128, 128, 0.5);
	display: flex;
	position: relative;
  }
  .main_3_box {
	width: 40%;
	height: 100vh;
	padding: 110px 0 0 100px;
	position: relative;
  }
  .main_3_txt {
	display: block;
	font-size: 2.5rem;
	font-weight: 500;
	z-index: 10;
	position: absolute;
  }
  .main_3_sub_y {
	width: 15rem;
	height: 11rem;
	position: absolute;
    top: 225px;
    left: 77px;
	z-index: 0;
  }
  .main_3_sub_txt {
	display: block;
	font-weight: 500;
	width: 600px;
  }
  .main_3_news {
	margin: 220px auto;
	background-color: #222;
	width: 1500px;
	height: 400px;
  }
  /* 메인 네번째 */
  .main_4 {
	height: 100vh;  
	width: 100%;  
	background-color: #fff;
  }
  .main_4_box {
	width: 40%;
	height: 100vh;
	padding: 180px 80px;
	position: relative;
  }
  .main_4_txt {
	display: block;
	font-size: 2.5rem;
	font-weight: 500;
	z-index: 10;
	position: absolute;
  }
  .main_4_y {
	width: 8rem;
	height: 8rem;
	position: absolute;
	top: 255px;
	left: 50px;
  }
  /* 메인 다섯번째 */
  .main_5 {
	height: 70vh;  
	width: 100%;  
	background-color: rgba(128, 128, 128, 0.5);
  }
  .main_5_box {
	width: 40%;
	height: 70vh;
	padding: 180px 80px;
	position: relative;
  }
  .main_5_txt {
	display: block;
	font-size: 2.5rem;
	font-weight: 500;
	z-index: 10;
	position: absolute;
  }
  .main_5_y {
	width: 8rem;
	height: 8rem;
	position: absolute;
	top: 255px;
	left: 50px;
  }
  /* 공통 */
  
  /* 푸터 */
  .footer {
	background-color: #000;
	color: #fff;
  }
  
  /* 반응형 */
  
  /* 버튼 */
  /* .main_topBtn {
  
  } */
/* 로그인페이지 */

.login_bg{
    width: 100vw;
    position: relative;
    z-index: 1;
    padding: 130px 0px;
    min-height: 100vh;
}
.login_bg::after {
	width: 100vw;
	height: 100vh;
	content: "";
	background: url("/img/login_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.6;
}

.login_frame{
    margin: 0 auto;
    width: 95%;
    max-width: 550px;
}

.login_header{
	font-size: 2.3rem;
    margin: 0px auto 80px auto;
    font-weight: 900;
}
.login_header_a{
	color: #000;
}

.login_container{
	border: 1px solid #E4E4E4;
    padding: 40px;
	background-color: white;
}

.login_box{
	display: flex;
    flex-direction: column;
}

.login_box input{
	border: none;
	outline: none;
	border-bottom: 2px solid #B7B7B7;
	padding: 10px 0px;
	margin-bottom: 10px;
	font-size: 1rem;
}

.login_box input::placeholder{
	color: #B7B7B7;
}

.login_btn{
	border: none;
	width: 100%;
	background-color: #DEDEDE;
	padding: 10px;
	margin-top: 15px;
	font-weight: 900;
}

.login_and{
	display:flex;
	flex-basis:100%;
	align-items:center;
	color:rgba(0,0,0,0.35);
	font-size:14px;
    margin: 12px 0px;
}
.login_and::before{
    content: "";
    flex-grow: 1;
    margin: 0px 10px 0px 0px;
    background: rgba(0,0,0,0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}
.login_and::after{
	content:"";
	flex-grow:1;
    margin: 0px 0px 0px 10px;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}

.login_kakao{
	border: none;
	width: 100%;
	background-color: #FADA0A;
	padding: 10px;
	font-weight: 900;
}

.login_sign{
	text-align: left;
    padding-top: 14px;
}

.login_sign a{
	font-size: 0.8rem;
	color: #000;
}

/* signin */
.sign_bg{
    background-color: #F2F1F1;
    padding: 50px 0px;
    min-height: 100vh;
}

.sign_frame{
	margin: 0 auto;
    width: 95%;
    max-width: 550px;
}

.sign_header{
    font-size: 2.3rem;
    margin: 0px auto 80px auto;
    font-weight: 900;
}

.sign_header a {
	color: #000;
}

.sign_container input, .sign_container select{
    width: 100%;
    padding: 9px;
	outline: none;
	border: none;
}

.sign_container input::placeholder{
	color: #B7B7B7;
}

.sign_relative{
	position: relative;
}
.sign_chk_btn{
    position: absolute;
    top: 22.5px;
    right: 3px;
    border: none;
    background-color: #d9d9d9;
    padding: 7px;
    font-size: 11px;
}

.sign_footer_box{
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.sign_footer_btn{
	border: none;
    padding: 8px;
    width: 35%;
    background-color: #DEDEDE;
    font-size: 1.5rem;
    color: #000;
}

.sign_errmsg{
	color: red;
	padding-left: 20px;
}
.sign_commsg{
	color: rgb(22, 168, 32);
	padding-left: 20px;
}






/* 유저페이지 */
.user_container{
	width:95%;
	max-width: 550px;
	margin: 0 auto;	
}
/* 페이지 최상단 "회원정보" */
.user_h1{
	margin-left:-65px;
}
.user_userInfo{
	border-bottom: 1px solid #B7B7B7;	
}
.user_userInfo_text_center{
width: 50%;
text-align: center;
}
/* 두번째 "회원정보" 텍스트   */
.user_subcontainer{
	display: flex;
}
.user_box_top_red_center{
	width:50%;
	height:50px;
	text-align: center;
	border:1px solid #B7B7B7;
	border-top: 4px solid red;
	border-bottom: none;	
	
}
.user_vacant_box{
	width:90%;
	height:50px;
	border-bottom: 1px solid #B7B7B7;	
}
/* 회원정보 설정 */
.user_userInfo_text3{
	margin:20px;
}
.user_infocontainer{
	width:100%;
}

.user_table{
	border: 1px solid #B7B7B7;
	border-right: none;
	border-collapse: collapse;
	border-spacing: none;
}
.user_rowname{
	border-bottom: 1px solid #808080;
	background-color: #D9D9D9;
	border-spacing: 0px;
	width:4%;
	height:100px;
	padding:10px;
	
}
.user_rowcontent{
	border-bottom: 1px solid #B7B7B7;
	text-align: center;
	width:10%;
}
.user_button{
	width:50px;
	border:none;
	padding: 5px;
	float:right;
	background-color: #d9d9d9;
	cursor: pointer;
	border-radius:5px;
}
.user_button_exit{
	width:50px;
	padding:5px;
	background-color: #d9d9d9;
	border:none;
	border-radius:5px;
	cursor: pointer;
}
/* 모달 */
.user_black-bg{
	box-sizing: border-box;
    text-align: center;
    background-color: #00000099;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 20px;
}
.user_white-bg{
    box-sizing: border-box;
    width: 45%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
	height: 585px;
}
.user_box_password{
	margin-top: 90px;
}
.user_button_box_password{
margin-top:130px;
}
.user_h3_nick{
	margin-top: 66px;
}
.user_box_nick{
	margin-top: 130px;
}
.user_button_box_nick{
	margin-top:130px;
}
.user_h3_userout{
	margin-top:89px;
}
.user_button_box_userout{
	margin-top:20px;
}
#user_pw{
	margin-left:20px;
}
#user_pw_chk{
	margin-left:52px;
	margin-top: 30px;
}
#user_nick{
	margin-left:20px;
}
#user_del_reason{
	margin-left: 12px;
    width: 279px;
}
#user_del_reason_input{
    margin-top: 15px;
    margin-left: 104px;
    height: 150px;
    width: 300px;
}
.userChk_button_confirm{
	box-sizing: content-box;
	width:80px;
	border:none;
	border-radius:5px;
	padding: 5px;
	background-color: #d9d9d9;
	cursor: pointer;
	margin:5px;
	margin-right:40px;
	text-decoration: none;
	color: blue;
}

.userChk_button_negative{
	box-sizing: content-box;
	width:80px;
	border-radius:5px;
	border: none;
	padding: 5px;
	background-color: #d9d9d9;
	cursor: pointer;
	margin:5px;
	text-decoration: none;
	color: red;
}
#user_del_reason_input::placeholder{
	text-align: center;
}
.user_warningText{
	color:red;
}
/* 유저확인 */
.userChk_container{
	width:95%;
	max-width: 550px;
	margin: 0 auto;	
	text-align: center;
}
.userChk_button{
	box-sizing: content-box;
	width:80px;
	border:none;
	border-radius:5px;
	padding: 5px;
	background-color: #d9d9d9;
	cursor: pointer;
	margin:5px;
	text-decoration: none;
	color: #000;
}

#userchk_pw::placeholder{
	text-align: center;
}

/* 지역 페이지 */
/* 지역 페이지 전체 */
.region_frame {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
/* 지역 슬라이드 */
.region_slider_frame {
	text-align: center;	
	background-color: #7DF4B2;
	position: relative;
}
.region_slider_container {
	overflow: hidden;
}
.region_slider {
	display: flex;
	background-color: #4BAF4B;
}
.region_slide {
	min-width: 100px;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #FF92B1;
	text-align: center;
	line-height: 100px;
}
.region_slider_left {
	position: absolute;
	left: 0;
	top: 41%;
}
.region_slider_right {
	position: absolute;
	right: 0;
	top: 41%;
}
/* 지역 검색바 */
.region_search {
	width: 100vw;
	text-align: center;
	margin: 5% auto;
	background-color: #8AB78A;
}
.region_search_form {
	/* width: 90%; */
	background-color: #8572EE;
}
.region_recommend, .region_total {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
/* 지역 추천 축제 */
.region_recommend_festival {
	background-color: #5CEEE6;
}
/* 지역 추천 게시물 separate */
.region_list {
	display: inline-block;
	height: 400px;
	background-color: #DCAD67;
}
.region_img {
	position: relative;
	width: 250px;
	height: 188px;
	margin: 30px 15px;
}
.region_img img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.region_period, .region_title{
	text-align: center;

}
/* 지역 추천 관광지 */
.region_recommend_tour {
	background-color: #94EB3E;
}
/* 해당 지역 축제 전체 */
.region_total_festival {
	background-color: #FFB6C1;
}
/* 해당 지역 관광지 전체 */
.region_total_tour {
	background-color: #FFC81E;
}
/* 더보기 버튼 */
.region_btn_more button {
	background-color: #FF92B1;
	border: none;
	color: white;
	padding: 10px 50px;
	display: inline-block;
	text-align: center;
	border-radius: 20px;
	font-size: large;
}
/* 에러페이지 */
.error_wasands::after{
	width: 100%;
	height: 100%;
	content: "";
	background: url("../img/샌즈.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.6;
}
.error_txtmsg{
	text-align: center;
	margin-top: 220px;
}